* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cab1 {
    color: red;
    font-size: 50px;
}

/*body {
    background-color: rgb(240, 240, 180);
}*/

.letra_branca {
    color:white !important;
}